body{
    background-color: cyan
}

.title{
font-size: 3em;
color: rgb(0, 0, 0);
}

#principal{
    font-size: 4,5em;
}

.logo{
    width: 300px;
    height: 300px;
}

#titulos{
  
    width: 60vw;
    margin: auto;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitulo{
    font-size: 2em;
}

.cards{
    border: 5px solid black;
    width:fit-content;
    padding: 1em 1em 2em 1em; 
    border-radius: 10%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;

}

.cards:hover{
background-color: blue;
}

#cards-container{

    width: 85em;
    margin: auto;
    margin-top: 2em;
    border: 2px solid black;
    border-radius: 2%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#footer{

    width: 100em;
    margin: auto;
    margin-top: 2em;
    border: 2px solid black;
    border-radius: 2%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#id-footer-title{
    font-size: 2em;
}

.footer-title{
    width: 60vw;
    margin-right: 65%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-cards-conteiner{
    margin: auto;
    margin-top: 2em;
    border: 2px solid black;
    border-radius: 2%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-cards:hover{
    background-color: black;
}

.footer-cards{
    border: 5px solid black;
    width: auto;
    padding: 1em 1em 2em 1em; 
    border-radius: 10%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center

}

.logo-contacto{
    width: 100px;
    height: 100px;
}